name: benchmark
on:
  push:
  # branches:
  # - main
  pull_request:
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  # setup sccache for Rust; see https://github.com/Mozilla-Actions/sccache-action
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  iai:
    if: false # iai is always failed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ github.workflow }}"
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get -y install valgrind
      - run: cargo bench -p remove-query-string --bench benchmark_by_cachegrind
  gungraun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ github.workflow }}"
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get -y install valgrind

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall

      - name: Install gungraun-runner
        run: |
          version=$(cargo metadata --format-version=1 |\
            jq '.packages[] | select(.name == "gungraun").version' |\
            tr -d '"'
          )
          # --force is needed;
          # otherwise, it reports gungraun-runner installed already incorrectly
          # and skip installation
          cargo binstall --no-confirm gungraun-runner --force --version $version

      - run: cargo bench -p remove-query-string --bench benchmark_by_callgrind
