name: benchmark
on:
  push:
  # branches:
  # - main
  pull_request:
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  # setup sccache for Rust; see https://github.com/Mozilla-Actions/sccache-action
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  iai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get -y install valgrind
      - run: cargo bench -p remove-query-string --bench benchmark_by_cachegrind
  iai-callgrind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache Cargo dependencies
        uses: Swatinem/rust-cache@v2
      - run: sudo apt-get -y install valgrind
      - name: Install iai-callgrind-runner
        # https://github.com/iai-callgrind/iai-callgrind#installation
        # to match iai-callgrind-runner and iai-callgrind version
        run: |
          version=$(cargo metadata --format-version=1 |\
            jq '.packages[] | select(.name == "iai-callgrind").version' |\
            tr -d '"'
          )
          cargo install iai-callgrind-runner --version $version --locked
      - run: cargo bench -p remove-query-string --bench benchmark_by_callgrind
