name: CI
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings
  # setup sccache for Rust; see https://github.com/Mozilla-Actions/sccache-action
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
jobs:
  check_project_files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Restore lychee cache
        uses: actions/cache@v5
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: "--cache --max-cache-age 1d . -v *.md"
          failIfEmpty: false

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "${{ github.workflow }}"

      - uses: mozilla-actions/sccache-action@v0.0.9

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - run: cargo verify-project

      - name: Detect unused dependencies
        uses: bnjbvr/cargo-machete@7959c845782fed02ee69303126d4a12d64f1db18 # v0.9.1

      - run: cargo fmt --check --all
      - run: cargo clippy --workspace -- -D warnings
      - run: cargo check --workspace --future-incompat-report
      - run: cargo doc --no-deps --workspace --document-private-items
      - run: cargo build --workspace --verbose
      # can't run with --benches since iai-callgrind require iai-callgrind-runner exists
      - run: cargo test --workspace --verbose
